html {
    font: Times medium black;
    background-color: #5CDB95
}
#me {
    float: right;
    height: 180px;
    width: 270px;
    margin-left: 1em;
    margin-bottom: 1em;
}

#corgo {
    height:5%;
    width:5%;
    vertical-align: middle;
}

#gma {
    display: block;
    height: 20%;
    width: 20%;
    margin: auto;
}

#mainTable{
    display: inline-table;
    vertical-align: text-top;
}

#mainTable tr td {
    vertical-align: top;
}

#courseTable {
    border: solid;
}

#courseTable tr td:nth-child(2n+1) {
    display: block;
    margin: auto;
    width:auto;
}

#courseTable tr:nth-child(odd) {
    background-color: #379683;
}

#courseTable tr:nth-child(even) {
    background-color: #EDF5E1;
}

#courseTable:nth-child() {
    text-align: center;
}

/* html,body,.top {
    margin: 0;
} */

.top {
    background-color: #379683;
    padding-top: 0.75%;
    padding-right: 0.75%;
    padding-left: 0.75%;
    padding-bottom: 3em;
}


.likes {
    font-style: oblique;
}

.links a{
    color: #EDF5E1;
}

.best {
    font-style: italic
}

ol {
    list-style-type: lower-alpha;
}

table p{
    font-size: small;
}